<style>
  .tag a { font-size:80%; color:#fc6; }
  h4, .tag { display:inline-block; margin:0px 10px;  }
  .blurb { background:#111; margin:2px 15px; padding:3px; color:#eee; }
  .prev { max-width:300px !important; float:left; margin-right:5px; }
  .postitem { clear:both; }
</style>
<h2>All Posts</h2>
<% for (var i=0; i<content.length; i++) { var f = content[i]; %>
<div class=postitem>
  <% if (f.image) { %>  <img src='<%=f.image%>' class=prev /> <% } %>     
  <h4><a href="/post/<%=f.name%>"><%=f.title%></a></h4>
  <% for(var j=0; j<f.tags.length; j++) { %><b class=tag><a href='/tag/<%=f.tags[j]%>'><%=f.tags[j]%></a></b><% } %>
  <% if (f.blurb) { %>  <div class=blurb><%=f.blurb%></div> <% } %>
</div>
<% } %>

