<!doctype html>
<head prefix="og: http://ogp.me/ns#"><title>Heyjimbo - <%=title%></title>
<link rel="icon" href="/images/favicon.png" /><meta name="viewport" content="width=device-width, initial-scale=1">
<% if (info.image) { %>
<meta property="og:image" content="https://www.heyjimbo.com<%=info.image%>">
<% } %>
<style>
 body,html {
 font-size:14pt; font-family: Helvetica,Tahoma,Arial,sans; line-height:1.6; background:#222;
 color:#eee; margin:0px; padding:px; }
 h1,h2,h3,h4,h5,h6 { color:#fd9; font-weight:400; }
 #header,#header>h1 { font:12px Helvetica; letter-spacing:0.3em; text-align:center; }
 #header>h1>a>#j { color:#f63; }
 #header>h1>a { color:inherit; white-space:nowrap;}
 #header>h1>a:hover { color:#f63; }
 a { color: #f63; text-decoration:none; }
 code { color: #bdf; }
 a:hover {color:white;}
 pre { background:black; overflow-x:auto; border-left:1px solid #f63; padding-left:10px;  }
 #sidebar { max-width:600px; background:black; margin:auto; padding:15px; }
 #sidebar a:a1 { display:block; padding: 3px 10px; white-space:nowrap; text-decoration:none; }
 #sidebar h3 { padding:10px; margin:0px; }
 #cdate { margin-bottom:-30px; }
 pre>code { font-size:12pt; }
 #post-content img { max-width:100%; display:block; margin:auto; }
 #post-content { padding:10px; }
 #postlist>a { display:block; }
 @media (min-device-width: 800px) {
   #post-content {max-width:750px; margin:auto; }
 }
 @media (max-device-width: 500px) {
   body { font-size:12pt; }
 }
</style>
</head>
<body>
  <div id=header>
    <h1> <a href=/>[hey<span id=j>j</span>imbo]</a>
    <a href=/post>[&#x2261; posts]</a>
    <a href=/post/about>[? about]</a>
    <a href=/atom.xml>[&#x22F0; feed]</a>
</h1>
</div>

<div id=post-content>
  <div id=cdate><%- info.created ? new Date(info.created).toDateString() : '&nbsp;' %></div>
  <%- content %>
</div>
<% if (posts && posts.length) { %>
<div id="sidebar">
  <a href='#top' style='display:block; text-align:center'> &#x21e1; Back to Top &#x21e1;</a>
  <h3>See Also</h3>
  <div id='postlist'>
  <a href="/post"><div>All Posts</div></a>
  <% for (var i=0; i<posts.length; i++) { var f = posts[i]; %>
  <a class=a1 href="/post/<%=f.name%>"><%=f.title%></a> <% } %>
 </div>
 <% if (tags.length) { %><h4>Tags</h4>
   <% for (var i=0; i<tags.length; i++) { var f = tags[i]; %>
 <a href="/tag/<%=f%>"><%=f%></a> <% } %> <% } %>
 <hr />
 <a href="/post/about"><div>About</div></a>
</div>
<% } %>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async defer src='/ga/pageview.js'></script>
